* {
    box-sizing: border-box
  }
  
  body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(images/footer_background.jpg);
    background-size: cover;

  }
  
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 25%;
    /* Four links of equal widths */
    text-align: center;
  }
 .input1{
     margin-top: 200px;
 }
